.vs/
dirts-sw/.vs/

dirts-sw/[Dd]ebug/
dirts-sw/[Dd]ebugPublic/
dirts-sw/[Rr]elease/
dirts-sw/x64/
dirts-sw/build/
dirts-sw/bld/
dirts-sw/[Bb]in/
dirts-sw/[Oo]bj/

*.suo
*.user
_ReSharper.*
bin
obj
packages/
*.nuget.targets
*.lock.json
*.nuget.props

*.Cache